# Database
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=fullstack_db
POSTGRES_PORT=5435

# Backend
BACKEND_PORT=3001

# Frontend
FRONTEND_PORT=3000
CORS_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
